.oColors{ 
/* Makeup Tan:  */
color:#DDAF94
}

.Colors{ 
/* Blush:  */
color:#E8CEBF
}

.ooColors{ 
/* Complimentary Green: */
color: #266150
}

.jColors{ 
/* Dark Highlight: */
color: #4F4846
}

.jhColors{ 
/* Lightly Off White: */
color: #FDF8F5
}
 