.highlight{
    color:blue
}

.climate{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

button{
    border:none;
    background-color: white;
}

.weather-info{
    padding-left: 2rem;
}
